<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Pagina1</li>
                <li>Pagina2</li>
                <li>Pagina3</li>
                <li>Pagina4</li>
                <li>Pagina5</li>
            </ul>
        </nav>
    </header>
    <h1>Sono la view per l'action Index dell'Home Controller</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto aliquam vel sit porro quo architecto tempora, beatae cum rerum ea? Recusandae placeat deleniti vel animi quidem nam facilis quia quas.</p>
    <p>Officia, sit numquam eius dolorem rerum quasi ad amet sunt provident aliquid eaque veritatis natus doloribus voluptates totam nam? Rem doloribus animi accusantium dicta illo vero debitis dignissimos suscipit deserunt!</p>
    <p>Recusandae, nemo. Nisi consectetur laboriosam ex iure ut omnis mollitia quos voluptatem eius in deserunt alias tenetur neque repudiandae id, dignissimos repellendus eaque quia distinctio cupiditate earum. Sed, expedita dolorum.</p>
    <p>Unde dolorum veniam accusamus quis explicabo officia dolorem recusandae eos sit odit pariatur laborum eligendi ab nisi sunt voluptate, repellendus dignissimos quisquam omnis corrupti quasi necessitatibus? Recusandae sit quae aperiam?</p>
    <p>Obcaecati omnis repellat beatae esse vero mollitia similique perferendis delectus expedita commodi, perspiciatis corporis soluta reprehenderit excepturi, quidem ab at adipisci sint cupiditate necessitatibus? Sunt eius pariatur aliquid eligendi laborum!</p>
    <footer>
        <p>Contattaci al numero....</p>
    </footer>
</body>
</html>